/* Algemeen stijlen */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Header en menu stijlen */
.menu-container {
    background-color: #2c3e50;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

ul.menu li {
    margin: 0 15px;
    position: relative; /* Voor dropdown-functionaliteit */
}

ul.menu li a {
    text-decoration: none;
    color: #ecf0f1;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    background-color: transparent; /* Letters blijven zichtbaar */
}

ul.menu li a:hover {
    background-color: rgba(236, 240, 241, 0.7); /* Doorzichtig effect */
    color: #2c3e50;
    border-radius: 5px;
}

/* Dropdown menu stijlen */
.dropdown:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: rgba(236, 240, 241, 0.9); /* Lichte transparantie voor submenu */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    padding: 10px;
    border-radius: 5px;
}

.submenu a {
    color: #2c3e50;
    text-decoration: none;
    padding: 8px 12px;
    font-size: 14px;
    display: block;
}

.submenu a:hover {
    background-color: rgba(189, 195, 199, 0.8); /* Transparant hover-effect */
    color:  #2c3e50;
    border-radius: 5px;
}

/* Submenu-right alleen zichtbaar bij hover op Fysieke Laag */
.dropdown .submenu .dropdown:hover .submenu-right {
    display: block;
}

.submenu-right {
    display: none;
    position: absolute;
    top: 0;
    left: 150px;
    background-color: rgba(236, 240, 241, 0.9); /* Transparant submenu rechts */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
}

/* Inhoud stijlen */
.content {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.text {
    flex: 1;
    margin-right: 20px;
}

.text h1 {
    font-size: 32px;
    color: #2980b9;
}

.text p {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.6;
}

.video iframe {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Footer stijlen */
.footer {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 3px solid #2980b9;
    font-size: 14px;
}

.footer img {
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

.footer a {
    color: #ecf0f1;
}

.footer a:hover {
    color: #2980b9;
    transition: color 0.3s;
}
